* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========================
         navigation bar
============================ */
.nav-bar {
  width: 100%;
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center; /*position content in the center of the parent horizontally and vertically*/
}

.nav-bar .logo a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
  margin-right: 5em;
  text-decoration: none;
  color: #0074cc;
}

/* .logo a{
    
} */

.nav-bar ul {
  list-style: none;
}

.nav-bar li {
  display: inline;
  margin: 10px;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.nav-bar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
}

.nav-bar li a:hover {
  background-color: #fff;
  color: #0074cc;
  padding: 10px 15px;
  border-radius: 10px;
}

.search .srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 30px;
  outline: none;
  font-size: 15px;
  background: transparent;
  border: 1px solid #fff;
  padding: 10px;
}

.search .btn-1 {
  height: 32px;
  width: 75px;
  margin-left: 0px;
  text-transform: uppercase;
  color: #fff;
  background-color: #0074cc;
  transition: 0.3s ease;
  font-weight: bolder;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.search .btn-1:hover {
  background-color: #fff;
  color: #0074cc;
}

/*=========================
         Hero section
=========================== */

.hero-body {
  position: relative;
}

.hero {
  width: 100%;
  height: 95vh;
  background-image: url(./images/bg-image.jpg);
  background-position: center;
  background-size: cover;
  /* overflow: hidden; */
  filter: brightness(30%);
}

.hero-head {
  position: absolute;
  top: 150px;
  margin-left: 50px;
  margin-right: 550px;
  height: 200px;
}

.hero-head h1 {
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  line-height: 1em;
}

.hero-head span {
  color: #0074cc;
}

.hero-head p {
  line-height: 1.7em;
  color: #fff;
  font-family: "Times New Roman";
  font-size: 15px;
  margin-top: 10px;
}

.hero-head button {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #0074cc;
  text-transform: uppercase;
  margin-top: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

.hero-head a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
}

/* ==================
form
====================== */
.form {
  width: 300px;
  background: #000000d2;
  position: absolute;
  top: 100px;
  left: 900px;
  border-radius: 10px;
}

.form .signUp {
  margin: 20px;
  width: 85%;
  height: 35px;
  background: #0074cc;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.Reg-form {
  margin: 10px;
}

.Reg-form input {
  background-color: transparent;
  border-bottom: 1.5px solid #0074cc;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 95%;
  color: #fff;
  margin: 8px;
}

.Reg-form input:focus {
  outline: none;
  background: transparent;
}

::placeholder {
  color: #fff;
  letter-spacing: 1.5px;
}

.form button {
  margin: 10px 10px;
  height: 35px;
  width: 95%;
  border: none;
  background: #0074cc;
  border-radius: 10px;
  cursor: pointer;
}

.btn-2 {
  color: #fff;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.btn-2:hover {
  background-color: #fff;
  color: #0074cc;
}

.form p {
  color: #fff;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 10px;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.form p > a {
  text-decoration: none;
  color: #0074cc;
}

.form .social {
  margin: auto;
}

.form .social-app {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.icon {
  /* width: 100%; */
  color: #fff;
  font-size: 25px;
  margin: 0 25px;
  padding: 10px 10px;
}

.icon:hover {
  color: #0074cc;
}

/* ===================
main
====================== */

/* .main{
  margin: 25px;
  display: flexbox;
  justify-content: space-around;
  width: 250px;
  background-color: rgb(193, 193, 193);
  justify-items: center;
}

.main .course1, .course2, .course3{
  width: 300px;
} */

/* ==================
 Login Page
 ===================== */
.form .login {
  margin: 20px;
  width: 85%;
  height: 35px;
  background: #0074cc;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

/* ===================
Success Page
======================= */

.success {
  width: 300px;
  height: 250px;
  margin-left: 450px;
  margin-top: 100px;
  background: #000000d2;
  border-radius: 10px;
}

.success i {
  /* width: 100%; */
  color: #fff;
  font-size: 100px;
  /* justify-content: center; */
  margin-top: 10px;
  margin-left: 100px;
  /* padding: 50px 50px; */
}

.success h2 {
  color: #0074cc;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.success p {
  margin: 20px;
  width: 85%;
  height: 35px;
  background: #0074cc;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.success a {
  text-decoration: none;
}
